
@{
    ViewBag.Title = "DepartmentDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Department Detay Sayfası</h2>
<br />
<div style="background-color:silver">
    DENEME
</div>
<br />
<table class="table table-hover">
    <tr>
        <th>Personel ID</th>
        <th>Personel Ad</th>
        <th>Personel Soyad</th>
        <th>Personel Resmi</th>
        <th>Satışlar</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Ali</td>
        <td>Bulut</td>
        <td>Test</td>
        <td><a href="#" class="btn btn-default" style="background-color:darkcyan">Satışlar</a></td>
    </tr>
</table>